// commonStyles.module.scss
.logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(93.4deg, #6a5dc2 18.78%, #dc5dfc 81.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 20px;
}
