:root {
    --color-dark: #242424;
    --color-primary: rgb(255 255 255 / 100%);
    --background-black: rgb(10 11 11 / 100%);
    --card-shadow: rgb(255 255 255 / 33%);
    --header-height: 56px;
    --footer-height: 40px;
}
