:root {
    --color-dark: #242424;
    --color-primary: rgba(255, 255, 255, 1);
    --background-black: rgba(10, 11, 11, 1);
    --card-shadow: rgba(255, 255, 255, 0.33);
    --header-height: 56px;
    --footer-height: 40px;
}
