.register {
    max-width: 420px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    padding: 64px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
